.gridContainer {
  display: grid;
  justify-content: center;
  grid-gap: 2px;
  padding: 2px;
  height: 100vh;
}

.card{
  border-radius: 0;
}
.card-expand {
  grid-row-end: span 2;
  grid-column-end: span 2;
  background-color:#ffe6cc;
}

.card-actual {
  background-color:#e6e6e6;
  display: flex;
  overflow: hidden;
}

@media only screen and (max-width: 576px) {
 .columnNumber {
  grid-template-columns: repeat(1, 240px);
  grid-template-rows: repeat(50, 240px);
  }
}

@media only screen and (min-width: 577px) {
  .columnNumber {
   grid-template-columns: repeat(3, 240px);
   grid-template-rows: repeat(30, 240px);
   }
}

@media only screen and (min-width: 768px) {
  .columnNumber {
   grid-template-columns: repeat(4, 240px);
   grid-template-rows: repeat(30, 240px);
   }
}

@media only screen and (min-width: 992px) {
  .columnNumber {
    grid-template-columns: repeat(5, 240px);
    grid-template-rows: repeat(10, 240px);
   }
 }

 @media only screen and (min-width: 1200px) {
   .columnNumber {
     grid-template-columns: repeat(7, 240px);
     grid-template-rows: repeat(10, 240px);
    }
}
