.parentsContainer{
}

.gridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 240px);;
  grid-template-rows: repeat(10, 240px);
  grid-gap: 2px;
  padding: 2px;
  height: 100vh;
}
.card{
  border-radius: 0;
}
.card-expand {
  grid-row-end: span 2;
  grid-column-end: span 2;
  background-color:#ffe6cc;
}

.card-actual {
  background-color:#e6e6e6;
  display: flex;
  overflow: hidden;
}

//
// .card-actual {
//   width: 15rem;
//   height: 15rem;
//   background-color:#e6e6e6;
//   overflow: hidden;
// }
//
// .card-expand {
//   width: 30.5rem;
//   height: 30.5rem;
//   background-color:#ffe6cc;
// }
